body {
  background-color: #000654;
  color: #ffffff;
}

header,
main {
  padding-left: 10px;
}

main {
  padding-bottom: 80px;
  padding-right: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0%;
  text-align: center;
  background-color: #407899;
  width: 100%;
}

hr {
  border-color: #407899;
  border-width: 2px;
}

hr.tanjsa {
  border-color: #407899;
  border-width: 1px;
  margin-top: 25px;
}

ul.nav {
  /* Za oblikovanje navigacijske vrstice */
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #407899;
  overflow: hidden;
}

li.nav {
  /* Za oblikovanje navigacijske vrstice */
  float: left;
}

li a {
  /* Deluje vedno, ko je značka <a> znotraj <li> */
  display: inline-block;
  text-align: center;
  color: #ffffff;
  text-decoration: none; /* Poskrbi, da ne izgleda kot klasična povezava (brez podčrtanja, itd.) */
  padding: 15px 138px;
}

li a:hover {
  /* Aktivno, ko je kazalnik nad gumbom, vendar ne pritiskamo */
  background-color: #858585;
}

.active {
  /* Razred za navigacijsko vrstico, ki bo prikazal, katera stran je izbrana */
  background-color: #525252;
  color: #ffffff;
  border: #a9a9a9 1px solid;
}

ol.primer {
  display: table;
  margin: auto;
  background-color: #858585;
}

#urejeni-sez {
  padding: 3px;
  font-weight: 1000;
}

.neurejeni-sez {
  padding: 3px;
  padding-right: 20px;
}

p {
  font-size: 18px;
}

p.index {
  display: block;
  margin: auto;
  padding: 25px 150px;
  text-align: center;
}

p.navedba {
  font-size: 12px;
  font-style: italic;
  display: block;
  margin-left: 450px;
  clear: both;
}

p.navedba-tim {
  font-size: 12px;
  font-style: italic;
  display: block;
  margin-left: 300px;
  clear: both;
}

p.navedba-protokol {
  font-size: 12px;
  font-style: italic;
  display: block;
  margin-left: 320px;
  clear: both;
}

div.slika-in-navedba {
  position: relative;
}

div.sskj {
  display: block;
  margin: auto 100px auto 100px;
  background-color: #474747;
  border: #407899 dotted 3px;
}

p.sskj-naslov {
  font-size: 22px;
  color: #009ed8;
  padding-top: 2px;
  padding-left: 4px;
}

p.sskj-odstavek {
  font-size: 18px;
  padding-bottom: 2px;
  padding-left: 4px;
}

blockquote {
  width: 500px;
  margin: 100px 0px 60px 580px;
  border: #858585 2px solid;
  padding: 10px;
}

h1 {
  font-size: 40px;
  border: dashed 2px #407899;
  padding: 15px;
}

h3 {
  font-size: 24px;
  text-decoration: underline;
}

h4 {
  font-size: 18px;
  text-decoration: underline 3px #407899;
}

h5 {
  font-size: 16px;
  margin-left: 400px;
  text-decoration: underline 2px #407899;
}

a {
  color: #de6449;
}

img.tim-berners-lee {
  /* Za sliko na strni "Internet" */
  float: left;
  margin: 15px 30px 15px 300px;
  width: 250px;
}

img.shema {
  /* Za sheme na strani "IP_naslovi" */
  width: 500px;
  background-color: #858585;
  float: none;
  display: block; /* Potrebno spremeniti v tip "block", da lahko centriramo na strani,
                     saj "margin" nima vpliva na elemente "img" */
  margin: 25px auto 15px auto;
  /* padding-bottom: 20px; */
}

img.tok-info {
  /* Za sliko "tok informacij" na strani "Internetni protokoli" */
  width: 750px;
  float: none;
  display: block; /* Potrebno spremeniti v tip "block", da lahko centriramo na strani,
                     saj "margin" nima vpliva na elemente "img" */
  margin: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

img.logo {
  background: none;
  float: left;
  padding: 10px 20px 15px 15px; /* Padding [zgoraj, desno, spodaj, levo] */
}

iframe {
  display: block;
  margin: auto;
  padding-top: 30px;
}

table {
  display: table;
  margin: 30px auto 15px auto;
  text-align: center;
  padding: 10px;
  font-size: 19px;
}

table,
td {
  border: #858585 1px solid;
  border-collapse: collapse;
}

td,
th {
  padding: 4px 12px;
}

th {
  border-bottom: #858585 3px solid;
  border-left: #858585 1px solid;
  border-right: #858585 1px solid;
  background: #407899;
}
